# Compiled class file
*.class

# Log file
*.log

# Maven
target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Package Files
*.jar
*.war
*.ear

# OS
.DS_Store
Thumbs.db
